@charset "utf-8";
/* CSS Document */

.clsP_DescProduto
{
	margin:5px 5px 3px 5px;
}

.clsInfoProduto
{
	font-family:Tahoma;
}

#tableQuadro01
{
	
}

img
{
	margin:000;
	border:none;
}

a
{
	border:none;
	text-decoration:none;
}